<nav class="clearfix navbar navbar-default shadowed" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">

    <div class="navbar-header">

      <header role="banner" class="navbar-brand">

        <div class="brand">
          <a href="{{ site.baseurl }}/index.html"><h1 class="site-logo white">Map<span class="m-logo"></span>Give in a Box</h1></a>
        </div>

        <h1 class="site-tagline" >Drawing Our Resources Together</h1>

      </header>

    </div>

    <div class="clearfix columns navbar-right" id="nav-content">
        <ul class="nav navbar-nav">
          <li><a href="www.mapgive.state.gov" class="btn btn-primary navbar-btn" id="red-button" role="button">Main MapGive Site</a></li>
        </ul>
    </div>

  </div>
</nav>
